<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jamescain's Home</title>
</head>
<body>
    <div id="app"></div>
    <!-- dll files will be auto injected -->
    <script src="<%= webpackConfig.output.publicPath %>static/js/vendor.dll.js"></script>
    <!-- dll files will be auto injected -->
</body>
</html>